<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MobileMe</key>
	<dict>
		<key>Order</key>
		<integer>1</integer>
		<key>PrimaryDomain</key>
		<string>cal.me.com</string>
		<key>DomainAliases</key>
		<array>
			<string>calendar.me.com</string>
			<string>me.com</string>
			<string>mac.com</string>
			<string>www.me.com</string>
			<string>www.mac.com</string>
			<string>caldav.me.com</string>
			<string>icalserver.me.com</string>
		</array>
		<key>HTTPSPort</key>
		<integer>8443</integer>
		<key>PathFormat</key>
		<string>/principals/users/%@/</string>
	</dict>
	<key>Google</key>
	<dict>
		<key>Order</key>
		<integer>3</integer>
		<key>PrimaryDomain</key>
		<string>www.google.com</string>
		<key>DomainAliases</key>
		<array>
			<string>calendar.google.com</string>
			<string>google.com</string>
			<string>google</string>
			<string>www.google.com</string>
			<string>gmail.com</string>
			<string>gmail</string>
			<string>www.gmail.com</string>
			<string>googlemail.com</string>
			<string>googlemail</string>
			<string>www.googlemail.com</string>
		</array>
		<key>PrimaryUsernameDomain</key>
		<string>gmail.com</string>
		<key>HTTPPort</key>
		<integer>80</integer>
		<key>HTTPSPort</key>
		<integer>443</integer>
		<key>PathFormat</key>
		<string>/calendar/dav/%@/user/</string>
	</dict>
	<key>Yahoo!</key>
	<dict>
		<key>Order</key>
		<integer>4</integer>
		<key>PrimaryDomain</key>
		<string>caldav.calendar.yahoo.com</string>
		<key>DomainAliases</key>
		<array>
			<string>calendar.yahoo.com</string>
			<string>caldav.yahoo.com</string>
			<string>yahoo.com</string>
			<string>yahoo</string>
			<string>yahoo!</string>
			<string>ymail.com</string>
			<string>ymail</string>
			<string>rocketmail</string>
			<string>rocketmail.com</string>
			<string>www.yahoo.com</string>
			<string>www.ymail.com</string>
			<string>www.rocketmail.com</string>
		</array>
		<key>HTTPPort</key>
		<integer>80</integer>
		<key>HTTPSPort</key>
		<integer>443</integer>
		<key>PathFormat</key>
		<string>/principals/users/%@/</string>
	</dict>
	<key>iCal Server</key>
	<dict>
		<key>Order</key>
		<integer>5</integer>
		<key>HTTPPort</key>
		<integer>8008</integer>
		<key>HTTPSPort</key>
		<integer>8443</integer>
		<key>PathFormat</key>
		<string>/principals/users/%@/</string>
	</dict>
</dict>
</plist>
